{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{%static 'css/style1.css'%}?rand=23423423">
    <link rel="stylesheet" href="{%static 'css/addform.css'%}?rand=23423423">
{% endblock css %}

{%block js%}
    <script src="{%static 'js/addForm.js'%}"></script>
    <script src="https://kit.fontawesome.com/44a9a12877.js" crossorigin="anonymous"></script>
{%endblock js%}

{%block content%}
<body>
    <br><br><br><br>
    <div class="container">
        <form id="add_stud" method="POST" action="{% url 'about' %}">
            {% csrf_token %}
            <h3>Log In</h3>
            <h4>Enter your Username and Password to Log in</h4>
            <fieldset>
                Username
                <input type="text" name="name" placeholder="Username" id="name">
                <i class="fa-solid fa-circle-exclamation"></i>
                <i class="fa-solid fa-circle-check"></i>
                <div class="error"></div>
            </fieldset>
            <br>
            <fieldset>
                Password
                <input type="text" placeholder="Password" id="ID" name="id">
                <i class="fa-solid fa-circle-check"></i>
                <i class="fa-solid fa-circle-exclamation"></i>
                <div class="error"></div>
            </fieldset>
            <br>
            <fieldset>
                <button name="submit" type="submit" id="Student-submit" data-submit="...Sending">Log In</button>
            </fieldset>
        </form>
    </div>
</body>
{%endblock content%}