{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{%static 'css/style1.css'%}">
    <link rel="stylesheet" href="{%static 'css/addform.css'%}">
{% endblock css %}

{%block js%}
    <script src="{%static 'js/searchDep.js'%}"></script>
    <script src="https://kit.fontawesome.com/44a9a12877.js" crossorigin="anonymous"></script>
    <script>
        var x = "{% url 'assignDept' %}"
    </script>
{%endblock js%}
    
{%block content%}
    {% csrf_token %}
    <div class="container1">
        <div id="add_stud">
            <h3>Search for Student</h3>
            <h4>note: only active Students will show</h4>
            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Search by Name" name="result" id="searchInput" autocomplete="off">
                    <input type="submit" class='toggle' id="searchButton" value="Search">
                </div>
            </div>
            <h4>Search Results:</h4>
            <table class="nametb">
                <thead>
                    <tr>
                        <th class="r1">name</th>
                        <th class="r1">ID</th>
                        <th class="r1">GPA</th>
                        <th class="r1">level</th>
                        <th class="r1">Department</th>
                        <th class="r1">Change Department</th>
                    </tr>
                </thead>
                <tbody id="table__body">
                    {% for s in Student %}
                    <tr class='r2'>
                        <td>{{s.name}}</td>
                        <td> {{s.stud_ID}}</td>
                        <td>{{s.GPA}}</td>
                        <td>{{s.level}}</td>
                        <td>{{s.department}}</td>
                        <td class="r2">
                        <input type="button" class="toggle" value="Assign Department" id="button1" onclick='window.location.href = x + "?studID={{s.stud_ID}}"'></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{%endblock content%}